Package: com.slash.quickapplauncher
Name: QuickAppLauncher
Version: 0.0.2
Architecture: iphoneos-arm64
Description: idk
Maintainer: sudoslashcoder
Author: sudoslashcoder
Section: Tweaks
Depends: mobilesubstrate, preferenceloader

