Package: com.slash.quickapplauncher
Name: QuickAppLauncher
Version: 0.1.1
Architecture: iphoneos-arm64
Depends: mobilesubstrate | com.ex.substitute | substitute | libhooker | org.coolstar.libhooker, preferenceloader, ldid
Maintainer: sudoslashcoder <amongus878789@gmail.com>
Section: Tweaks
Description: Quick launcher tweak - quick app shortcuts (rootless-ready)