<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "">
<plist version="1.0">
<dict>
    <key>quickApps</key>
    <array>
        <string>com.apple.Music</string>
        <string>com.apple.Maps</string>
        <string>com.apple.MobileSMS</string>
    </array>
</dict>
</plist>

