<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- from sudoslashcoder-->
    <key>sudoslashcoder's</key>
    <string>Quick App Launcher</string>

    <!-- Bundle name of your prefs bundle -->
    <key>PreferenceBundle</key>
    <string>QuickAppLauncherPrefs</string>

    <!-- Tells PreferenceLoader it’s a Settings entry -->
    <key>EntryType</key>
    <string>PSBundleSpecifier</string>

    <!-- Optional icon inside your bundle’s Resources -->
    <key>Icon</key>
    <string>icon.png</string>
</dict>
</plist>